# Maven
target/

# Allure
.allure/
allure-results/
allure-report/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Build outputs (если у тебя реально есть папка build)
build/

# VS Code
.vscode/

# OS
.DS_Store

### Mac OS ###
.DS_Store
/.idea/
