# Maven
target/

# Allure
.allure/
allure-results/
allure-report/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Build outputs (если у тебя реально есть папка build)
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

### Mac OS ###
.DS_Store
/.idea/

# Logs
*.log

ajcore*.txt